<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emory.covCT">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MoreOptions" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".HomeOptions"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StoragePermission"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Saliency_Map" />
        <activity android:name=".Image_Upload" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>